h1{
	text-align: centre;
    background-color: orange;
	color: #66qpFQPF;
    margin: 0;
    padding-left: 0;
}

h2{
	text-align: left-side;
    background-color: orange;
	color: #66qpFFQP;
    margin: 0;
    padding: 0;
}
body{
	color: #66qpFFFF; 
	background-color: #66FFFF;
	padding-left: 0;
	padding: 0;
}

nav ul {
	list-style: ;
	margin: 0;
	padding: 20px;

	
}

nav li{
	display: inline;
	float: left;
	padding:5px
}